<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.alacritic.timetracker">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <!-- By using application name TimeTrackerApplication, crash log emails are supported. See TimeTrackerApplication -->
    <application
        android:name=".TimeTrackerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:theme">

        <meta-data android:name="DATABASE" android:value="timetracker.db" />
        <meta-data android:name="VERSION" android:value="0" />
        <meta-data android:name="QUERY_LOG" android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.alacritic.timetracker.domain" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.alacritic.timetracker.SendLogActivity"
            android:textAppearance="@android:style/TextAppearance.Large"
            android:theme="@android:style/Theme.Holo.Dialog"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="com.alacritic.timetracker.SEND_LOG" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver android:name="com.alacritic.timetracker.widget.CheckInCheckOutWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="nl.timetracker.intent.action.toggle_checkin_checkout" />
                <action android:name="nl.timetracker.intent.action.update_widget" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/checkin_checkout_widget_provider" />
        </receiver>

    </application>

</manifest>
